$clr-primary: #0095f6;
$clr-secondary: #0095f6;

$clr-gray-dark: #8e8e8e;
$clr-gray-light: #c7c7c7;

$clr-white: #ffffff;

$ff-primary: "Poppins", sans-serif;
$ff-body: $ff-primary;
$ff-heading: $ff-primary;

$fw-thin: 100;
$fw-light: 200;
$fw-regular: 400;
$fw-semiBold: 600;
